@charset "utf-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;/*余白の影響を防ぐ*/
}

.haikei {
  background-color: #f7f3e8;
  margin: 0;
  padding: 0;
}

.main {
background-color: #fff;
margin: 0 auto;
padding: 50px;
width: 70%;
text-align: center;
border-radius: 3px;
}

img {
  text-align: center;
}

.recipe-description {
  margin-bottom: 0; /* 下の余白をなくす */
  padding-bottom: 0; /* パディングも削除 */
}

h1 {
  text-align: center;
  color: #7d940a;
}

.zairyou {
  table-layout: fixed; /*列幅を均等にする*/
  margin-top: 20px;
  margin-bottom: 10px;
  width: 70%;
  border: 0.5px solid #e8e8e8;
  border-collapse: collapse;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.zairyou th,
.zairyou td {
  width: 50%;
  border: 1px solid #e8e8e8;
  padding: 10px;
  word-wrap: break-word;
}

.zairyou-title {
  color: #E0D7C1;
  font-weight: 900;
  text-align: center;
}

th {
  border: 0.5px solid #e8e8e8;
  padding: 10px;
  color: #E0D7C1;
  font-weight: 900;
}

td {
  border: 0.5px solid #e8e8e8;
  padding: 10px;
  text-align: left;
}

h3 {
  color: #E0D7C1;
  margin-bottom: 0;
}

.th koutei-number {
  width: 15%;
  color: #E0D7C1;
}

.koutei-number {
  width: 15%;
}

.tukurikata {
  width: 95%;
  margin: 50px auto;
  border: 0.5px solid #e8e8e8;
  border-spacing: 0;
  text-align: left;
}